---
layout: project
title: Uberfire Homepage
---
.uberfire-jumbotron
  .row      
    .col-md-4.col-md-offset-4.text-center
      %a(href="#")<
      /%img(src="#{site.jborg_images_url}/common/uberfire-logo.png" width="300px" height="300px")
     

  .row
    .col-md-12
      #myCarousel.carousel.slide
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
          %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
        / Carousel items
        .carousel-inner
          .item.main.active
            .col-md-12    
              %h2 UberFire is a Rich Client Platform framework ready for the Web. 
              %p  Build on top of GWT and Errai,  Uberfire allows us to quickly build complex web applications purely in Java. Using your favourite IDEs (Eclipse, Netbeans, IntelliJ) you can quickly create workbench style applications. UberFire works flawlessly in clustered and highly-available deployments.  
          .item.errai
            .col-md-6      
              %h2 Built on Top of Errai 
              %p  CDI is now available in the browser thanks to the Errai Project. UberFire was built on top of Errai, so you can leverage all its power.
              %br
              %button.btn.btn-primary{href: "http://erraiframework.org"} Errai Framework website &raquo;
              
            .col-md-6.hidden-sm.hidden-xs   
              %img(src="#{site.project_images_url}/errai.png" class="img-responsive center-block")    
          .item.java
            .col-md-6      
              %h2 Pure Java 
              %p  You just need to write all your code in Pure Java and GWT & Errai will do the rest for you. You will be free to use your favourite IDE to refactor and debug your code.
            .col-md-6.hidden-sm.hidden-xs   
              %img(src="#{site.project_images_url}/purejava.png" class="img-responsive center-block")
        
          .item.download
            .col-md-6
              %h2 Downloads
              %p  Feel free to download our showcase and give it a try locally to see what it can be done with uberfire.
              %br
              %button.btn.btn-primary{href: "http://search.maven.org/remotecontent?filepath=org/uberfire/showcase-distribution-wars/0.5.0.CR10/showcase-distribution-wars-0.5.0.CR10-tomcat7.0.war"} Download (Tomcat) Showcase now 
            .col-md-6.hidden-sm.hidden-xs      
              %img(src="#{site.project_images_url}/downloads.png" class="img-responsive img-top center-block")
         
        / Carousel nav
        %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
        %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
    
.uberfire-features
  .row
    .col-md-4 
      .well    
        .item-img-container
          %img(src="#{site.project_images_url}//layout.png" class="img-responsive")
        %h2 Flexible Layout
        :markdown
          Drag-and-drop layouts give your users control over their work environment.
    .col-md-4 
      .well
        .item-img-container
          %img(src="#{site.project_images_url}/files.png" class="img-responsive")  
        %h2 Powerful VFS
        :markdown
          UberFire is backed up by the power of GIT. A Virtual File System, built on top of JGIT, provides support for change tracking including a metadata engine, full-text search, and security integration.
    .col-md-4 
      .well
        .item-img-container
          %img(src="#{site.project_images_url}/plugin.png" class="img-responsive")
        %h2 Native Plugin System
        :markdown
          Develop plugins in Java against our declarative, typesafe APIs, or choose your favorite JavaScript framework to develop your perspectives, views, editors, menu items, etc.
.uberfire-blog
  .row
    .col-md-6
      .well.events
        %h2 Community Events
        .item
          %h5 The Developer's Conference 2016 Florian&oacute;polis BR
          %p< Uberfire's commiter, Eder Ignatowicz will speak at TDC 2016 Florian&oacute;polis. If you want to discover more about Uberfire, this is a great opportunity! Take a look at the conference site for more information.
          %a(href="http://www.thedevelopersconference.com.br/tdc/2016/index.html#florianopolis") TDC 2016 Site &raquo; 
        .item
          %h5 QCon SP 2016 BR
          %p< Some Uberfire team members will be at QCon SP 2016! Alexandre Porcelli and Eder Ignatowicz will give speeches, which is a good opportunity to talk more with Uberfire's commiters! Take a look at the conference site for more information.
          %a(href="http://qconsp.com/") QCon SP Site &raquo; 
        .item
          %h5 GWT Create 2015 US/EU 
          %p< Uberfire will be at GWT Create US/EU, take a look at the conference site for more information.
          %a(href="http://gwtcreate.com") GWT Create Site &raquo; 
    .col-md-6
      .well.events
        %h2 News
        .item
          %h5 Uberfire 0.8.0.CR1 released!
          %p< If you prefer, access our github for the latest releases.
          %a(href="https://github.com/uberfire/uberfire") Uberfire's Github &raquo; 
