<%#encoding:UTF-8%><!DOCTYPE html>
<#assign pageTitle = "<%= doctitle || (attr 'untitled-label') %>">
<#include "*/include/header.html">

<div class="container">
  <div class="row">
    <div class="adoc-content">
<#noparse>
<%
unless noheader %>
<div id="header"><%
  if doctype == 'manpage' %>
<h1><%= doctitle %> Manual Page</h1><%
    if (attr? :toc) && (attr? 'toc-placement', 'auto') %>
<div id="toc" class="<%= attr 'toc-class', 'toc' %>">
<div id="toctitle"><%= attr 'toc-title' %></div>
<%= ::Asciidoctor::HTML5::DocumentTemplate.outline(self, (attr :toclevels, 2).to_i) %>
</div><%
    end %>
<h2><%= attr 'manname-title' %></h2>
<div class="sectionbody">
<p><%= %(#{attr :manname} - #{attr :manpurpose}) %></p>
</div><%
  else 
    if has_header?
      unless notitle %>
<h1><%= @header.title %></h1><%
      end
      if attr? :author %>
<span id="author" class="author"><%= attr :author %></span><br><%
        if attr? :email %>
<span id="email" class="email"><%= sub_macros(attr :email) %></span><br><%
        end
        if (authorcount = (attr :authorcount).to_i) > 1
          (2..authorcount).each do |idx| %>
<span id="author<%= idx %>" class="author"><%= attr %(author_#{idx}) %></span><br><%
            if attr?  %(email_#{idx}) %>
<span id="email<%= idx %>" class="email"><%= sub_macros(attr %(email_#{idx})) %></span><br><%
            end
          end
        end
      end
      if attr? :revnumber %>
<span id="revnumber"><%= ((attr 'version-label') || '').downcase %> <%= attr :revnumber %><%= attr?(:revdate) ? ',' : '' %></span><%
      end
      if attr? :revdate %>
<span id="revdate"><%= attr :revdate %></span><%
      end
      if attr? :revremark %>
<br>
<span id="revremark"><%= attr :revremark %></span><%
      end
    end
    if (attr? :toc) && (attr? 'toc-placement', 'auto') %>
<div id="toc" class="<%= attr 'toc-class', 'toc' %>">
<div id="toctitle"><%= attr 'toc-title' %></div>
<%= ::Asciidoctor::HTML5::DocumentTemplate.outline(self, (attr :toclevels, 2).to_i) %>
</div><%
    end
  end %>
</div><%
end %>
<div id="content">
<%= content %>
</div><%
unless !footnotes? || attr?(:nofootnotes) %>
<div id="footnotes">
<hr><%
  footnotes.each do |fn| %>
<div class="footnote" id="_footnote_<%= fn.index %>">
<a href="#_footnoteref_<%= fn.index %>"><%= fn.index %></a>. <%= fn.text %>
</div><%
  end %>
</div><%
end %>
<div id="footer">
<div id="footer-text"><%
if attr? :revnumber %>
<%= %(#{attr 'version-label'} #{attr :revnumber}) %><br><%
end
if attr? 'last-update-label' %>
<%= %(#{attr 'last-update-label'} #{attr :docdatetime}) %><%
end %><%= (docinfo_content = (docinfo :footer)).empty? ? nil : %(
#{docinfo_content}) %>
</div>
</div>
</#noparse>

<#include "*/include/footer.html">
